<%- include('header') -%>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/styles.css">
<section id='description'>
    <header>
      <div class="container-fluid">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand mb-0 h1" >P & S</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/profiles">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/exercise">Exercises</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a>
              </li>
            </ul>
         </div>
    </header>
    <script src="js/jquery.js"></script>
  
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
  
    <div class="about">
    <h1> <%= Description %> </h1>
  
    </div>

</section>
<div class="jumbotron text-center">
    <h1>Your workout Routine</h1>
    <table class="table table-hover table-light table-bordered">
      <thead>
        <tr>
          <th>Exercise</th>
          <th>Target Muscle</th>
          <th>Sets</th>
          <th>Reps</th>
          <th>UPDATE REPS OR SETS</th>
          <th>DELETE FROM YOUR ROUTINE</th>
        </tr>
      </thead>
    
      <tbody>
        <% for(var i=0; i < ex_routine.length; i++) { %>
        <tr>
          <td><%= ex_routine[i].workout %></td>
          <td><%= ex_routine[i].target_muscle %></td>
          <td><%= ex_routine[i].sets %></td>
          <td><%= ex_routine[i].reps %></td>
          <td>
            
              <a class="btn btn-outline-dark" href="/update/<%= ex_routine[i].workout %>">Update</a>
            
          </td>
          <td>
            <form method="POST" action="/profiles/<%= ex_routine[i].workout %>?_method=DELETE">
              <button class="btn btn-outline-dark" type="submit">Delete</button>
            </form>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>

</div>

<%- include('footer') -%>